name: Deploy

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  heroku_deploy:
    runs-on: ubuntu:22

    steps:
      - uses: actions/checkout@v3

      - uses: akhileshns/heroku-deploy@v3.14.15
        with:
          heroku_api_key: ${{ secrets.HEROKU_API_KEY }}
          heroku_email: ${{ secrets.HEROKU_EMAIL }}
          heroku_app_name: ${{ secrets.HEROKU_APP_NAME }}
